<div class='d-flex'><%= link_to "Back to Users List", "/", class:"back btn btn-danger mt-2" %></div>
<%= render @user %>
<div class="bio">
    <h1>Bio</h1>
    <p><%= @user.bio %></p>
</div>
<div class="posts">
    <% @recent_posts.each do |post| %>
        <div class="post">
            <h2><%= post.title %></h2>
            <p><%= post.text %></p>
            <div>
                <p>Comments: <%= post.comments_counter %></p>
                <p>Likes: <%= post.likes_counter %></p>
            </div>
        </div>
    <% end %>
    <div class="btn-container">
        <%= link_to "See all posts", user_posts_path(@user), class:'btn btn-primary' %>
        <%= link_to "Create new post", new_user_post_path(@user), class:'btn btn-success' %>
    </div>
</div>